body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#map {
  width: 100vw;
  height: 100vh;
}

.input-container label {
  display: flex;
  align-items: center;
  margin: 2px;
  width: 420px;
}
.input-container span, .input-container select {
  flex: 1;
}
html{height:100%}
